<!doctype html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <title>{{ page.title }}</title>
    <meta name="source" content="{{ page.source }}">
    <link rel="stylesheet" type="text/css" href="/css/pico.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  	{{ content }}<!-- content -->
    {%- include footer.html -%}<!-- footer -->   
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  </body>
</html>